@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active > a {
  @apply opacity-100;
}

.active > div {
  @apply w-full;
}

@layer components {
  .btn {
    @apply border border-gray-100 p-1 px-2
  }

  .navbar-link {
    @apply
      group-hover:text-white group-hover:-translate-y-2
      group-hover:-translate-x-2 transform transition duration-1000
  }

  .default-text {
    @apply
      px-4 py-2 transform transition-all duration-200
      focus:bg-teal-700 focus:placeholder-white focus:text-white text-teal-700
      outline-none border-b-2 border-teal-700 w-full
  }

  .toasting {
    z-index: 9999;
  }

}

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: heebo, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  * {
    box-sizing: border-box;
  }
}